/* ----- Main style ----- */

.width_adjust{

    width : 90vw; 
}



/* burger menu */

.burger_menu
{
display : none;

}



/* ----- Mobile view ----- */

/* header */




/* burger menu */

.burger_menu
{
display : none;




/* ----- Desktop view ----- */
@media screen and (min-width : 768px)




