/* ----- Main style ----- */
/*Couleurs : colors, background, affichage général*/

.width_adjust{
    width : 100vw; 
}

body{
margin : 0px;
font-family: roboto;

}

.position_main_page{   
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ----- Mobile view ----- */


/* header */

header{

    position : fixed;
    background-color: white;
    width: 100vw;
    height: 50px;
    margin-top : 0px;
    padding-top: 10px;
    padding-left: 10px;    


}

.logo_wcs a img {

    max-height: 50px;

}

.burger_icone{

    position : fixed;
    top : 3px;
    right : 20px;
    opacity : 0.8;
    margin: 0;
}


.burger_icone img{

    width : 50px;

}

.burger_menu {
    display: none;
}

/* main page */

.width_adjust_mobile{
    width : 100%; 
}

/*Sections*/

section{
    margin: 0px auto 0px auto;
    padding-top : 75px;
}

.section_affichage_flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Section accueil*/

.about_width{
    
    width : 75%;
    margin : 0px auto;
    text-align : justify;
}

/*Section Qui sommes nous*/




/*Projets */

.container_img_projets {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img_projets {
    margin: 10px;
    width: 300px;
    height: 200px;
    border: 1px solid #ff6347;
}

.figcaption_projet{
    text-align: center;
}
/*Contact*/


.img_social_network {
    margin: 50px 20px;
    width : 70px;
    height: 70px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 50px;
}

label {
    margin-top: 10px;
}

textarea {
    height: 100px;
}

.icon_contact {
    width : 70px;

}

/*Footer*/

footer{
    padding-bottom : 20px;
}


.icon_footer {

    width: 50px;
    height: 50px;
    margin : 0px 5px;

}

.footer_links{
    display: flex;

}

.footer_links ul{
    display : flex;
    flex-direction: column;
    margin: 20px auto 0px auto;
    justify-content: center;
    padding: 0px;

}

.footer_links ul li{
    display : flex;
}

.footer_links ul a{
    margin: 20px auto 0px auto;
    justify-content: center;
    text-decoration: none;
    font-family: 'Varela', sans-serif;
    color: white;
    
}



/* ----- Desktop view ----- */
@media screen and (min-width : 768px){


    /* header */

header{

    display : flex;
    margin-top : 0px;
    padding-top: 0px;
    min-height: 75px;
    box-shadow: 0px 5px 10px lightgrey;
    position: fixed;
    top:0px;
    width:100vw;
    background-color: white;

}
nav {
    display : flex;
}


.logo_wcs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left : 10px;
}




/* hides burger icon */

.burger_icone {

    display : none;
}



.burger_menu
{
    display : flex;
    align-items: stretch;


}

.burger_menu ul{

    display : flex;
    align-items : stretch;
    padding : 0px;
    margin-left : 10px;
    margin-top : 0px;
    margin-bottom : 0px;
}

.menu_list{
    list-style: none;
    margin-left : 20px;
    padding : 0px;
    display : flex;
}

.menu_list a{

    align-self: center;
    text-decoration: none;
    font-size : 20px;
    color: black;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;   

}

.menu_list:hover{

    background-color:lightgrey;

}


/*main page*/

.width_adjust_desktop {
    /*TO DO en fonction de ce que ça donne*/
}

.margin_main_page_desktop {


}

/*Sections*/

section{
    margin: 0px auto 0px auto;
    padding-top : 100px;
}


/*Section accueil*/

.about_width{
    
    width : 50%;
    margin : 0px auto;
    text-align : justify;
}


/*Section Qui sommes nous*/



/*Projets*/

.container_img_projets {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.img_projets {
    margin: 30px;
}

.img_projets:hover {
    box-shadow: 0px 5px 10px lightgrey;
}

/*Contact*/

.contact_form {
    width: 700px;
}

textarea {
    height: 200px;
}

/*Footer*/

footer{

    padding-bottom: 50px;

}

.footer_links ul{
    flex-direction: row;

}








}

