/* ----- Main style ----- */
/*Couleurs : colors, background, affichage général*/

.width_adjust{
    width : 90vw; 
}

body{
    margin: 0;
}

.position_main_page{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* burger menu */



/* ----- Mobile view ----- */

/* main page */

.width_adjust_mobile{
    width : 90vw; 
}

/* header */




/* burger menu */

.burger_menu {
    display : none;
}


/*Section accueil*/



/*Section Qui sommes nous*/



/*Projets*/



/*Contact*/



/*Footer*/



/* ----- Desktop view ----- */
@media screen and (min-width : 768px) {

    /*main page*/

    .width_adjust_desktop {
        /*TO DO en fonction de ce que ça donne*/
    }
}

/* header */




/* burger menu */



/*Section accueil*/



/*Section Qui sommes nous*/



/*Projets*/



/*Contact*/



/*Footer*/


